.suggest {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/backgrounds/suggest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.suggest-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.suggest-label {
  padding: 6px 16px;
  background-color: #ce812f;
  border-radius: 99px;
  display: flex;
  justify-content: center;
}

.suggest-label p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.suggest-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;

  padding: 0 20px;

  margin-bottom: 20px;
}

.suggest-back,
.suggest-empty {
  width: 80px;
}

.suggest-empty {
  display: flex;
}

.suggest-empty span{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.suggest-main {
  display: flex;
  flex: 1;

  overflow: scroll;
  padding: 0 14px;
}

.suggest-main-item {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 16px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.suggest-main-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.suggest-main-item:nth-child(odd) {
  border-radius: 10px 10px 10px 0;
  align-self: self-start;
}

.suggest-main-item:nth-child(even) {
  border-radius: 10px 10px 0px 10px;
  align-self: flex-end;
}

.suggest-actions {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100vw;
  gap: 8px;
  padding: 0 14px;
}

.suggest-input {
  background-color: transparent;
  border: 2px solid #ce812f;
  border-radius: 99px;
  color: #fff;
  padding: 0 15px;
  flex: 1;
  height: 50px;
}

.suggest-input::placeholder {
  color: #fff;
}

.suggest-send {
  width: 50px;
  height: 50px;
  background-color: #ce812f70;
  border-radius: 99px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-content h2, p {
  font-family: Arial, Helvetica, sans-serif;
}


.modal-close, .modal-exit {
  margin-top: 10px;
  padding: 10px 0;
  color: white;
  border: none;
  border-radius: 99px;
  cursor: pointer;
  width: 100px;
}

.modal-close {
  background: #2fae0f;
}

.modal-exit {
  background: rgb(129, 129, 129);
}

.actions {
  display: flex;
  justify-content: space-around;
}
